/* Created by: Clara Tyman
* Created on: March 2024
* This file contains the CSS for index.html
*/

body {
  background-color: plum;
}

.content {
  padding-left: 10px;
  padding-right: 10px;
}

.column {
  float: left;
  width: 50%;
}

.column-2 {
  float: right;
  width: 50%;
}

.area-formula {
  width: 400px;
}

.perimeter-formula {
  width: 400px;
}

.mdl-layout-title {
  padding-left: 450px;
}